<% content_for :meta_title, "allWaves - Spots" %>

<div class="wrapper">

  <div class="top-container">
    <div class="left-top-container">
      <h2 style="text-align: center">Search New Surf Spots </h2>
      <h1 style="text-align: center"> by Location</h1>
      <%= form_with url: spots_path, remote: true, html: { class: "form-search" } ,method: :get do |form| %>
        <%= form.text_field :query, class: "search-text", placeholder: 'Florida' %>
        <%= form.submit "Search", class: "search-button"%>
      <% end %>
    </div>
    <div id="map"
      data-markerssaved="<%= @markers_saved.to_json %>"
      data-markersnew="<%= @markers_new.to_json %>"
      data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
    </div>
  </div>

  <div class="bottom-container">
    <div class=my-spots>
      <h2>My spots</h2>
      <div class="left-bubbles">
        <% if current_user.user_spots.empty? %>
         <%= image_tag "sad_dog.png", id: "replacement-img" %>
        <% else %>
          <% @spots.each do |spot| %>
            <% if @user_spots.select { |user_spot| user_spot.spot_id == spot.id } != []  %>
              <div class="bubble">
                <h3 style="width: 16%" id="<%= spot.name%>"><%= spot.name.capitalize %></h3>
                <img src="https://source.unsplash.com/800x200/?<%= spot.name %>,waves,surf/">
                <% user_spot = @user_spots.find { |user_spot| user_spot.spot_id == spot.id } %>
                <%= link_to "Remove", "/spots/#{spot.id}/user_spots/#{user_spot.id}", method: :delete, remote: true, class: "bubble-btn" %>
              </div>
            <% end %>
          <% end %>
        <% end %>
      </div>
    </div>
    <div class="new-spots">
      <h2>New Spots</h2>
      <div class="right-bubbles">
        <% @spots.each do |spot| %>
          <% unless @user_spots.select { |user_spot| user_spot.spot_id == spot.id } != []  %>
            <div class="spots-bubble">
              <div class="bubble">
                <h3 style="width: 16%"><%= spot.name.capitalize %></h3>
                <img src="https://source.unsplash.com/1000x200/?<%= spot.name %>,waves,surf/">
                <%= link_to "Add", spot_user_spots_path(spot), method: :post, remote: true, class: "bubble-btn" %>
              </div>
            </div>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
  
</div>