<% content_for :meta_title, "allWaves - Spots" %>

<div class="wrapper">

  <div class="top-container">
    <div class="left-top-container">
    <h1 style="text-align: center">Search Spots </h1>
    <%= form_with url: spots_path, local: true, html: { class: "form-search" } ,method: :get do |form| %>
      <%= form.text_field :query, class: "search-text" %>
      <%= form.submit "Search", class: "search-button"%>
    <% end %>
    </div>
    <div id="map"
      data-markerssaved="<%= @markers_saved.to_json %>"
      data-markersnew="<%= @markers_new.to_json %>"
      data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
    </div>
  </div>

  <div class="bottom-container">
    <div class=my-spots>
      <h2>My Spots</h2>
      <div class="left-bubbles">
        <% if current_user.user_spots.empty? %>
         <h4>You don't have any spots saved. <br/>Please add one!</h4>
        <% else %>
            <% @user_spots.each do |user_spot| %>
              <div class="bubble">
                <h3 id="<%= user_spot.spot.name.capitalize %>" style="width: 16%" id="<%= user_spot.spot.name%>"><%= user_spot.spot.name.capitalize %></h3>
                <img class="placeholder-img" src="https://source.unsplash.com/800x200/?<%= user_spot.spot.name %>,waves,surf/">
                <%= link_to "Remove", "/spots/#{user_spot.spot.id}/user_spots/#{user_spot.id}", method: :delete, remote: true, class: "bubble-btn" %>
              </div>
        <% end %>
        <% end %>
      </div>
    </div>
    <div class="new-spots">
      <h2>New Spots</h2>
      <div class="right-bubbles">
        <% @spots.each do |spot| %>
          <% unless @user_spots.select { |user_spot| user_spot.spot_id == spot.id } != []  %>
            <div class="spots-bubble">
              <div class="bubble">
                <h3 id="<%= spot.name.capitalize %>" style="width: 16%"><%= spot.name.capitalize %></h3>
                <img class="placeholder-img" src="https://source.unsplash.com/1000x200/?<%= spot.name %>,waves,surf/">
                <%= link_to "Add", spot_user_spots_path(spot), method: :post, remote: true, class: "bubble-btn" %>
              </div>
            </div>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
  
</div>