<div class="top-container">

  <div class="left-top-container">
    <h2 style="text-align: center">Search New Spots </h2>
    <h1 style="text-align: center"> by Location</h1>
    <%= form_with url: spots_path, local: true, html: { class: "form-search" } ,method: :get do |form| %>
      <%= form.text_field :query, class: "search-text" %>
      <%= form.submit "Search", class: "search-button"%>
    <% end %>
  </div>
  <div id="map"
    data-markers="<%= @markers.to_json %>"
    data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
  </div>

</div>

<div class="bottom-container">
  <div class=my-spots>


  </div>

  <div class="New spots">
    <% @spots.each do |spot| %>
      <div class="d-flex justify-content-center">
          <div class="card-trip" style="margin:20px; width: 60%; overflow: hidden; background: white; box-shadow: 0 0 15px rgba(0,0,0,0.2);">
            
            <img src="https://source.unsplash.com/700x200/?/" style="height: 200px; width: 100%; object-fit: cover;"
            <div class="card-trip-infos" style=" padding: 16px; display: flex; justify-content: space-between; align-items: flex-end; position: relative;">
              <div>
                <h2 style=" font-size: 16px; font-weight: bold; margin: 10px;"><%= spot.name.capitalize %></h2>
              </div>
              <div style=" margin-right: 10px; margin-bottom: 10px; text-align: right">
                <% if @user_spots.select { |user_spot| user_spot.spot_id == spot.id } != []  %>
                <p> Spot already saved ✅ <p>
                <% else %>
                <%= link_to "Add this spot to your Spots", spot_user_spots_path(spot), method: :post, class: "btn btn-primary" %>
                <% end %>
              </div>
            </div>
          </div>
      </div>
    <% end %>

  </div>

</div>

