<h1>All the Spots</h1>

<% @spots.each do |spot| %>
  <h2>Spot name: <%= spot.name %> </h2>
  <h3><%= spot.id %></h3>
  <ul>
    <li> Longitude: <%= spot.longitude %> </li>
    <li> Latitude: <%= spot.latitude %> </li>
    <li> Surfline_spot: <%= spot.surfline_spot %> </li>
    <li> Subregion_spot: <%= spot.surfline_subregion %> </li>
  </ul>
<% end %>