<h1>All the Spots</h1>
<div id="map"
     style="width: 100%; height: 600px;"
     data-markers="<%= @markers.to_json %>"
     data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
</div>

<% @spots.each do |spot| %>
  <h2>Spot name: <%= spot.name %> </h2>
  <h3><%= spot.id %></h3>
  <ul>
    <li> Longitude: <%= spot.longitude %> </li>
    <li> Latitude: <%= spot.latitude %> </li>
    <li> Surfline_spot: <%= spot.surfline_spot %> </li>
    <li> Subregion_spot: <%= spot.surfline_subregion %> </li>
  </ul>
<% end %>
