<h1>Spot</h1>

<h2> <%= @spot.name %> </h2>
<ul>
  <li> <%= @spot.longitude %> </li>
  <li> <%= @spot.latitude %> </li>
  <li> <%= @spot.surfline_spot %> </li>
  <li> <%= @spot.surfline_subregion %> </li>
</ul>