<h1>Spot</h1>

<h2> <%= @spot.name %> </h2>
<ul>
  <li> Longitude: <%= @spot.longitude %> </li>
  <li> Latitude: <%= @spot.latitude %> </li>
  <li> Surfline_spot:<%= @spot.surfline_spot %> </li>
  <li> Subregion_spot: <%= @spot.surfline_subregion %> </li>
</ul>