<% content_for :meta_title, "allWaves - Sign up" %>

<div class="signup">
  <h2>Sign up</h2>

  <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%= f.error_notification %>

    <div class="form-inputs">
    
      <div class="label-field">
      <%= f.label :email %>
      <%= f.input :email,
                  required: true,
                  autofocus: true,
                  input_html: { autocomplete: "email", class: "field email" },
                  label: false %>
      </div>
      <div class="label-field">
      <%= f.label :username %>
      <%= f.input :username,
                  required: true,
                  input_html: { class: "field username" },
                  label: false %>
      </div>
      <div class="label-field">
      <%= f.label :location %>
      <%= f.input :location,
                  required: true,
                  input_html: { class: "field location" },
                  label: false %>
      </div>
      <div class="label-field">
      <%= f.label :password %>
      <%= f.input :password,
                  required: true,
                  hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length),
                  input_html: { autocomplete: "new-password", class: "field password" },
                  label: false %>
      </div>
      <div class="label-field">
      <%= f.label :password_confirmation %>
      <%= f.input :password_confirmation,
                  required: true,
                  input_html: { autocomplete: "new-password", class: "field password-confirm" },
                  label: false %>
      </div>
      
      <%= f.input :avatar, as: :file%>

      
    </div>

    <div class="form-actions">
      <%= f.button :submit, "Sign up"%>
    </div>
  <% end %>

  <p>Already an user ? <%= render "devise/shared/links" %></p>

</div>
