<div class="preference-spot-block">

    <%# Preferences dropdown and buttons %>
    

    <%# Preferences dropdown and buttons %>
    <% if @user_spots.present? %>
    <%= simple_form_for :result, url: result_spot_path(:all_waves), remote: true, html: { 'data-controller': 'dashboard', class: "dropdown"}, method: :get do |f| %>
      
      <div class="preference-group dropdown-button-group">
        <%= f.input :preference_id, collection: current_user.preferences, include_blank: false, input_html: { 'data-action': 'change->dashboard#handleSelect', class: "dropdown-list"}, label: false %>
        <div class="preferences-btn body-btn">
          <%= link_to "My preferences", preferences_path %>
        </div>
      </div>

      <div class="spot-group dropdown-button-group">
        <%= f.input :spot_id, collection: current_user.grouped_spots, include_blank: false, input_html: { 'data-action': 'change->dashboard#handleSelect', class: "dropdown-list"}, label: false %>      
        <div class="preferences-btn body-btn">
          <%= link_to "Add a new spot", spots_path %>
        </div>
      </div>
    <% end %>
     <!--  <form id="dashboard-result" action="<%= user_root_path %>">

        <br>
        <select class="custom-select" id="spot-dropdown" name="spot_id">
          <option selected>Select a spot</option>
          <%# @user_spots.each do |user_spot| %>
            <option value="<%#= user_spot.spot.id %>"><%#= user_spot.spot.name %></option>
          <%# end %>
        </select>

        <select class="custom-select" id="preference-dropdown" name="preference_id">
          <option selected>Select a preference</option>
          <%# current_user.preferences.each do |preference| %>
            <option value="<%#= preference.id %>"><%#= preference.name %></option>
          <%# end %>
        </select>

        <br>

          <%#= link_to "go?", result_condition_path(Condition.find_by(spot: user_spot.spot), preference_id: current_user.preferences.last.id)  %>

        <button type="submit" class="btn btn-primary">Check</button>
      </form> -->
      <div id="result"></div>
    <% else %>
      <h2>You don't have any spots saved!</h2>
  <% end %>
  

</div>