<div class="container m-3">
  <h1>Your Preferences</h1>


  <!-- bootstrap accordian -->
  <div class="accordion" id="accordionPreferences">
    <div class="card">
      <div class="card-header" id="heading-save">
        <h2 class="mb-0">
          <button class="btn btn-link btn-block text-left" type="button" data-toggle="collapse" data-target="#collapse-save" aria-expanded="true" aria-controls="collapse-save">
            Create new preference set
          </button>
        </h2>
      </div>
      <div id="collapse-save" class="collapse" aria-labelledby="heading-save" data-parent="#accordionPreferences">
        <div class="card-body">
          <%= simple_form_for @preference, remote: true do |f| %>
            <%= f.input :name %>
            <%= f.input :pref_unit, as: :radio_buttons, collection: ['FT', 'M'], label: 'Preferred Units' %>
            <%= f.input :swell_hgt_min, as: :range, input_html: { min: 0, max: 20, step: 0.5 }, label: 'Swell Height: Min'  %>
            <%= f.input :swell_hgt_max, as: :range, input_html: { min: 0, max: 20, step: 0.5 }, label: 'Swell Height: Max' %>
            <%= f.input :swell_int_min, as: :range, input_html: { min: 0, max: 20, step: 0.5 }, label: 'Swell Interval: Min' %>
            <%= f.input :swell_int_max, as: :range, input_html: { min: 0, max: 20, step: 0.5 }, label: 'Swell Interval: Max' %>
            <%= f.input :swell_dir_min, as: :range, input_html: { min: 0, max: 360, step: 5 }, label: 'Swell Direction: Min' %>
            <%= f.input :swell_dir_max, as: :range, input_html: { min: 0, max: 360, step: 5 }, label: 'Swell Direction: Max' %>
            <%= f.input :wind_str_min, as: :range, input_html: { min: 0, max: 50, step: 0.5 }, label: 'Wind Strength: Min' %>
            <%= f.input :wind_str_max, as: :range, input_html: { min: 0, max: 50, step: 0.5 }, label: 'Wind Strength: Max' %>
            <%= f.input :wind_dir_min, as: :range, input_html: { min: 0, max: 360, step: 5 }, label: 'Wind Direction: Min' %>
            <%= f.input :wind_dir_max, as: :range, input_html: { min: 0, max: 360, step: 5 }, label: 'Wind Direction: Max' %>
            <%= f.input :pref_tide_position, as: :radio_buttons, collection: ['LOW', 'NORMAL', 'HIGH'], label: 'Preferred Tide Position' %>
            <%= f.button :submit, class: "btn btn-primary" %>
          <% end %>
        </div>
      </div>
    </div>

    <% current_user.preferences.each_with_index do |preference, index| %>
      <div class="card">
        <div class="card-header" id="heading-<%= index + 1 %>">
          <h2 class="mb-0">
            <button class="btn btn-link btn-block text-left" type="button" data-toggle="collapse" data-target="#collapse-<%= index + 1 %>" aria-expanded="true" aria-controls="collapse-<%= index + 1 %>">
              <%= preference.name %>
            </button>
          </h2>
        </div>
        <div id="collapse-<%= index + 1 %>" class="collapse" aria-labelledby="heading-<%= index + 1 %>" data-parent="#accordionPreferences">
          <div class="card-body">
            <%= simple_form_for preference, remote: true do |f| %>
              <%= f.input :name %>
              <%= f.input :pref_unit, as: :radio_buttons, collection: ['FT', 'M'], label: 'Preferred Units' %>
              <%= f.input :swell_hgt_min, as: :range, input_html: { min: 0, max: 20, step: 0.5 }, label: 'Swell Height: Min'  %>
              <%= f.input :swell_hgt_max, as: :range, input_html: { min: 0, max: 20, step: 0.5 }, label: 'Swell Height: Max' %>
              <%= f.input :swell_int_min, as: :range, input_html: { min: 0, max: 20, step: 0.5 }, label: 'Swell Interval: Min' %>
              <%= f.input :swell_int_max, as: :range, input_html: { min: 0, max: 20, step: 0.5 }, label: 'Swell Interval: Max' %>
              <%= f.input :swell_dir_min, as: :range, input_html: { min: 0, max: 360, step: 5 }, label: 'Swell Direction: Min' %>
              <%= f.input :swell_dir_max, as: :range, input_html: { min: 0, max: 360, step: 5 }, label: 'Swell Direction: Max' %>
              <%= f.input :wind_str_min, as: :range, input_html: { min: 0, max: 50, step: 0.5 }, label: 'Wind Strength: Min' %>
              <%= f.input :wind_str_max, as: :range, input_html: { min: 0, max: 50, step: 0.5 }, label: 'Wind Strength: Max' %>
              <%= f.input :wind_dir_min, as: :range, input_html: { min: 0, max: 360, step: 5 }, label: 'Wind Direction: Min' %>
              <%= f.input :wind_dir_max, as: :range, input_html: { min: 0, max: 360, step: 5 }, label: 'Wind Direction: Max' %>
              <%= f.input :pref_tide_position, as: :radio_buttons, collection: ['LOW', 'NORMAL', 'HIGH'], label: 'Preferred Tide Position' %>
              <%= f.submit class: "btn btn-secondary", id: "form-toggle" %>
            <% end %>
            <%= link_to "Delete Preference", preference_path(preference), method: :delete, class: "btn btn-danger my-3" %>
          </div>
        </div>
      </div>
    <% end %>
  </div>

  <span>
    <%= link_to "Back to dashboard", user_root_path, class: "btn btn-secondary mr-3 my-3" %>
  </span>
</div>



