<div class="container m-3">
  <h1>Your Preferences</h1>

  <% @preferences.each do |preference| %>
    <ul>
      <li><%= link_to preference.name, preference_path(preference) %></li>
    </ul>
  <% end %>

  <select class="custom-select" name="preference_id">
    <option selected>Select a preference</option>
    <% current_user.preferences.each do |preference| %>
      <option value="<%= preference.id %>"><%= preference.name %></option>
    <% end %>
  </select>

  <br>

  <%= link_to "Create new preference set", new_preference_path, class: "btn btn-primary my-3" %>
  <br>
  <%= link_to "Back to dashboard", user_root_path, class: "btn btn-secondary my-3" %>
</div>

