<h1><%= @preference.name %></h1>

<ul>
  <li>Units: <%= @preference.pref_unit %> </li>
  <li>Swell Height: <%= @preference.pref_swell_height %> </li>
  <li>Swell Direction: <%= @preference.pref_swell_direction %> </li>
  <li>Wind Strength: <%= @preference.pref_wind_strength %> </li>
  <li>Wind Direction: <%= @preference.pref_wind_direction %> </li>
  <li>Tide Position: <%= @preference.pref_tide_position %> </li>
  <li>Tide Range: <%= @preference.pref_tide_range %> </li>
</ul>
