<div class="container my-3 p-3">
  <h1><%= @preference.name %></h1>

  <%= simple_form_for @preference, remote: true do |f| %>
    <%= f.input :name, disabled: true %>
    <%= f.input :pref_unit, as: :radio_buttons, collection: ['FT', 'M'], disabled: true, label: 'Preferred Units' %>
    <%= f.input :swell_hgt_min, as: :range, input_html: { min: 0, max: 20, step: 0.5 }, disabled: true, label: 'Swell Height: Min'  %>
    <span id="test">Empty</span>
    <br>
    <br>
    <%= f.input :swell_hgt_max, as: :range, input_html: { min: 0, max: 20, step: 0.5 }, disabled: true, label: 'Swell Height: Max' %>
    <%= f.input :swell_int_min, as: :range, input_html: { min: 0, max: 20, step: 0.5 }, disabled: true, label: 'Swell Interval: Min' %>
    <%= f.input :swell_int_max, as: :range, input_html: { min: 0, max: 20, step: 0.5 }, disabled: true, label: 'Swell Interval: Max' %>
    <%= f.input :swell_dir_min, as: :range, input_html: { min: 0, max: 360, step: 5 }, disabled: true, label: 'Swell Direction: Min' %>
    <%= f.input :swell_dir_max, as: :range, input_html: { min: 0, max: 360, step: 5 }, disabled: true, label: 'Swell Direction: Max' %>
    <%= f.input :wind_str_min, as: :range, input_html: { min: 0, max: 50, step: 0.5 }, disabled: true, label: 'Wind Strength: Min' %>
    <%= f.input :wind_str_max, as: :range, input_html: { min: 0, max: 50, step: 0.5 }, disabled: true, label: 'Wind Strength: Max' %>
    <%= f.input :wind_dir_min, as: :range, input_html: { min: 0, max: 360, step: 5 }, disabled: true, label: 'Wind Direction: Min' %>
    <%= f.input :wind_dir_max, as: :range, input_html: { min: 0, max: 360, step: 5 }, disabled: true, label: 'Wind Direction: Max' %>
    <%= f.input :pref_tide_position, as: :radio_buttons, collection: ['LOW', 'NORMAL', 'HIGH'], disabled: true, label: 'Preferred Tide Position' %>
    <%= f.button :button, "Update Preferences", class: "btn btn-secondary", id: "form-toggle" %>
    <%= f.button :submit, "Save Preferences", style: 'display:none', class: "btn btn-primary", id: "form-save" %>
  <% end %>

  <br>

  <%= link_to "Back to preferences", preferences_path, class: "btn btn-secondary" %>
</div>
