<div class="container my-3 p-3">
  <div class="card">
    <h1><%= @preference.name %></h1>

    <%= simple_form_for @preference, remote: true do |f| %>
      <%= f.input :name %>
      <%= f.input :favourite %>
      <%= f.input :pref_unit, as: :radio_buttons, collection: ['FT', 'M'], label: 'Preferred Units ðŸ“' %>
      <h3>Swell</h3>
      <hr>
      <br>
      <%= f.hint 'Greater swell height = greater wave size.' %>  <!-- Swell height refers to the distance between the trough (lowest point) to peak (highest point) of a wave as it passes a nearby buoy -->
      <br>
      <div id="slider-swell-hgt" data-min="5" data-max="15" data-range="30"></div>
      <%= f.hidden_field :swell_hgt_min, value: "" %>
      <%= f.hidden_field :swell_hgt_max, value: "" %>
      <br>
      <br>
      <%= f.hint 'Greater swell interval = greater wave power.' %> <!-- Swell interval refers to the time between equal points of passing waves -->
      <br>
      <div id="slider-swell-int" data-min="5" data-max="15" data-range="30"></div>
      <%= f.hidden_field :swell_int_min, value: "" %>
      <%= f.hidden_field :swell_int_max, value: "" %>
      <br>
      <br>
      <%= f.hint 'More perpendicular to your coast (with no obstructions) = better wave quality.' %> <!-- Swell direction refers to the trajectory of an incoming swell -->
      <br>
      <div id="slider-swell-dir" data-min="45" data-max="180" data-range="360"></div>
      <%= f.hidden_field :swell_dir_min, value: "" %>
      <%= f.hidden_field :swell_dir_max, value: "" %>
      <br>
      <br>
      <h3>Wind</h3>
      <hr>
      <br>
      <%= f.hint 'Generally, lighter winds = greater wave quality.' %> <!-- Wind strength refers to the force of nearby winds. Strong winds can mess or subdue incoming swells. Light winds can help push or pull wave faces -->
      <br>
      <div id="slider-wind-str" data-min="5" data-max="15" data-range="50"></div>
      <%= f.hidden_field :wind_str_min, value: "" %>
      <%= f.hidden_field :wind_str_max, value: "" %>
      <br>
      <br>
      <%= f.hint 'Generally, offshore winds = greater wave quality.' %> <!-- Wind direction refers to the trajectory of nearby winds. Onshore winds (perpendicular and toward beach) push behind incoming swell, while offshores (perpendicular and toward sea) groom up the faces of incoming swells -->
      <br>
      <div id="slider-wind-dir" data-min="45" data-max="180" data-range="360"></div>
      <%= f.hidden_field :wind_dir_min, value: "" %>
      <%= f.hidden_field :wind_dir_max, value: "" %>
      <br>
      <br>
      <h3>Tide</h3>
      <hr>
      <%= f.hint 'If you are not sure, choose "NORMAL" and then consult with your locals!' %> <!-- Tide position refers to the time periods where the tide is at its lowest, highest, or mid-points. High tide with too weak of swell may result in a flat day, while low tide may introduce more friction to incoming swells -->
      <br>
      <%= f.input :pref_tide_position, as: :radio_buttons, collection: ['LOW', 'NORMAL', 'HIGH'], label: 'Preferred Tide Position' %>
      <br>
      <br>
      <%= f.button :submit, class: "btn btn-primary" %>
    <% end %>

    <br>

    <%= link_to "Delete Preference", preference_path(@preference), class: "btn btn-danger" %>
    <%= link_to "Back to preferences", preferences_path, class: "btn btn-secondary" %>
  </div>
</div>
