
<div class="container">
  <h1 class="my-3 text-center">GO week view</h1>
  <div class="row justify-content-center py-3">
    <div class="col-12">
      <div class="card-group">
        <% i = 0 %>
        <% @go_array.each_slice(8) do |day| %>
          <div class="card">
            <strong><%= (Date.today + i).strftime("%A, %b %d") %></strong>
            <br>
            <% day.each_with_index do |block, index| %>
              <p style="color:<%= block ?  "green" : "red"   %>;"><%= (index * 3) %>:00  <%= block ? "- GO!" : "" %></p>
            <% end %>
            <br>
            <br>
            <strong><%= day.include?(true) ? "There is a GO today!" : "No good surf today!" %></strong>
          </div>
          <% i += 1 %>
          <br>
        <% end %>
      </div>
    </div>
  </div>
  <div class="text-center">
    <%= link_to "Preferences", preferences_path, class: "btn btn-primary my-3"  %>
    <%= link_to "Dashboard", user_root_path, class: "btn btn-primary my-3"  %>
  </div>
</div>




